{% extends "base.html"%} {% block conteudo %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Medico</th>
            <th scope="col">Turno</th>
            <th scope="col">Vagas Disponiveis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">17-06-2019</th>
            <td>Joao Luccas</td>
            <td>Manhã e Tarde</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">23-06-2019</th>
            <td>Cleide</td>
            <td>Tarde</td>
            <td>4</td>
        </tr>
        <tr>
            <th scope="row">27-07-2019</th>
            <td>Ze Neto</td>
            <td>Manhã</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
{% endblock%}